@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

@use '@material/image-list/mixins' as image-list;

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

.transparentBorder{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid transparent;
}


a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.viewbox{
  display: flex;
  flex-direction: column;
}

.menu {
  min-width: 200px;
  flex: 1;
  background-color: color-palette.$grey-300;
  text-align: center;
  box-sizing: border-box;
}

#image_container{
  flex: 1;
  background-color: color-palette.$grey-300;
  box-sizing: border-box;
}

.buttons{
  height: 100%;
}

.redBorder {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid red;
}

.image_subtitle{
  text-align: center;
}

.menu_item{
  width: 90%;
  margin-bottom: 7.5px;
}
.menu_button { 
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50%;
  float:left;
  margin-left: 0.5em;
}